# Build artifacts
packages/*/src/**/*.svelte.d.ts
packages/*/dist

# Vite artifacts
.vite

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# MacOS Finder files
.DS_Store
