.editor__main,
.editor__toolbar {
	position: fixed;
	inset: 0;
}

body {
	/* make sure the body is tall enough so that our `inset: 0` elements get positioned correctly
	 * on mobile devices - especially problematic in landscape mode
	 */
	min-height: 150vh;
	overflow: clip;

	/* disable various gestures that attempt to select parts of the body as text on mobile devices
	 * during various gestures
	 */
	touch-action: none;
	user-select: none;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.editor__main {
	z-index: 100;
}



@property --toolbar-clip {
	syntax: "<number>";
	inherits: false;
	initial-value: 0;
}

.editor__toolbar {
	--peek-size: 3rem;
	z-index: 200;
	contain: strict;

	/* snappy scroll for the pull-up card
	 */
	overflow: clip scroll;
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
	scrollbar-width: none;
	overscroll-behavior: none;
	touch-action: pan-y;

	/* apply a dynamic clip path to avoid grabbing pointer events from the underlying editor
	 * this is a workaround to avoid using `pointer-events: none` which on mobile devices breaks
	 * scrolling entirely
	 *
	 * a curve is applied to keep a "buffer zone" as the clip-path tends to lag behind a little,
	 * which can otherwise visibly clip the card during fast scrolls
	 */
	clip-path: rect(calc((100% - var(--peek-size)) * var(--toolbar-clip)) auto auto auto);
	animation-name: kfToolbarClip;
	animation-timing-function: cubic-bezier(0.0, 0.5, 0.5, 1.0);
	animation-timeline: scroll(block self);
	animation-fill-mode: both;
	will-change: clip-path;
}

@keyframes kfToolbarClip {
	0% { --toolbar-clip: 1; }
	100% { --toolbar-clip: 0; }
}



.editor__toolbar::before {
	/* a transparent block before the pull-up card to add padding with its own scroll snap
	 * U+200B Zero-Width Space https://symbl.cc/en/200B/
	 */
	content: "\200b";
	display: block;
	box-sizing: border-box;
	height: calc(100% - var(--peek-size));
	scroll-snap-align: start;
	pointer-events: none;
}

.editor__toolbar__card {
	box-sizing: border-box;
	height: 100%;
	padding: 1rem;
	scroll-snap-align: end;
	corner-shape: squircle;
	animation-name: kfToolbarCorners;
	animation-timing-function: ease-in;
	animation-timeline: scroll(block nearest);
	will-change: border-radius;

	background: rgb(200 200 200 / 90%);
}

@keyframes kfToolbarCorners {
	0%, 95% { border-radius: 1rem 1rem 0 0; }
	100% { border-radius: 0 0 0 0; }
}



@media (orientation: landscape) {
	.editor__toolbar {
		left: 60%;
	}
}

@media (pointer: fine) and (hover: hover) {
	.editor {
		position: fixed;
		inset: 0;
		display: grid;
		grid-template-columns: auto 25%;
	}

	.editor__main,
	.editor__toolbar {
		position: static;
	}

	.editor__toolbar {
		overflow: revert;
		scroll-snap-type: revert;
		clip-path: none;
	}

	.editor__toolbar::before {
		content: none;
	}

	.editor__toolbar__card {
		animation: none;
	}
}
